$tab-height: 70vh;
$tab-margin-top: 1%;
$tab-margin-left: 5%;
$tab-content-color: lighten($primary-color, 35%);

#tabmenu {
    float: left;
    width: 30%;
    height: $tab-height;
    background-color: $tab-color;
    border: 1px solid $tab-border-color;
    margin-top: $tab-margin-top;
    margin-left: $tab-margin-left; 
}

.tabcontent {
    float: left;
    margin-top: $tab-margin-top;
    padding: 0px 12px;
    border: 1px solid $tab-border-color;
    width: 60%;
    height: $tab-height;
    border-left: none;
    //background-color: rgb(183, 240, 237);
    background-color: $tab-content-color;
}

.tabbutton  {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    height: 20%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

    &:hover{
        background-color: darken($tab-color, 10%);
    }

    &.active{
        background-color: darken($tab-color, 20%);
    }
}

.subtabbutton  {
    display: block;
    background-color: inherit;
    color: black;
    padding: 5%;
    width: 100%;
    height: 10%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

    &:hover{
        background-color: darken($tab-color, 10%);
    }

    &.active{
        background-color: darken($tab-color, 20%);
    }
}

.addbutton{
    width: 80%;
    height: 10vh;
    margin: 4% 10%;
    color: $secondary-color;
    background-color: $primary-color;
    border: none;
    border-radius: 30%;
    font-size: 40px;

    &:hover{
        background-color: darken($primary-color, 10%);
    }
}

.subtabmenu{
    display: none;
    float: left;
    border: 1px solid $tab-border-color;
    background-color: $tab-color;
    width: 15%;
    height: $tab-height;
    margin-top: $tab-margin-top;

    button.active {
        background-color: darken($tab-color, 20%);
    }
}