@import 'config';


.projects-grid-container {
    display: grid;
    grid-template-columns: 16% 16% 16% 16%;
    grid-column-gap: 9vw;
    grid-row-gap: 3vh;
    padding: 5px;
    margin-top: 5vh;
    margin-left: 7vw;

    div {
        background-color: rgba(216, 253, 253, 0.452);
        padding: 5px;
        height: 45vh;
        text-align: center;
        border-radius: 1.5em;
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;       //To move text to the bottom   
    }

    #item1{   
        a {
            color: $primary-color;
            font-size: 40vh;
            text-decoration: none;
        }
    }

}

.index-container {
    display: flex;
    margin-top: 2%;
    align-items: center;

    .row {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .formbox {
            width: 20%;
            height: 100%;
            margin-top: 2%;
            margin-left: 2%;
            margin-right: 2%;
            background: $secondary-color;
            color: black;
            padding: 2%;
            border-radius: 1.5em;
            box-shadow: 0px 11px 35px 2px rgb(0, 0, 0);

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 40px;
                }

                input {
                    margin: 2%;
                    width: 100%;
                    height: 6vh;
                    font-size: 15px;
                    color: $primary-color;
                }

                button {
                    width: 80%;
                    height: 10vh;
                    margin-top: 4%;
                    color: $secondary-color;
                    background-color: $primary-color;
                    border: none;
                    border-radius: 30%;
                    font-size: 20px;

                    &:hover{
                        background-color: darken($primary-color, 10%);
                    }
                }
          
                .errorMsg{
                  background-color: red;
                  color: white;
                }
            }
        }
        
    }
  
}

.nav-row{
    a{
        color: pink;
        float: right;
    }
}