.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-row #logo {
  width: 10%;
}

.header-row h1 {
  margin-left: 1%;
  margin-top: 2%;
  color: white;
  font-size: 60px;
}

body {
  background-color: #d1bcf9;
}

/* BLURB PAGE */
#bookcover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  width: 28vw;
  height: 60vh;
  object-fit: cover;
  margin-left: 34vw;
  margin-bottom: 1%;
}

#nobookcover {
  background-color: antiquewhite;
  width: 28vw;
  height: 60vh;
  margin-left: 34vw;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#blurbinput {
  /* border: 1px solid black; */
  border: none;
  width: 90%;
  margin-left: 5%;
  height: 30vh;
  overflow: auto;
  resize: none;
  background-color: rgba(255, 255, 255, 0);
}

#blurbinput:focus {
  background-color: rgba(255, 255, 255, 0.6);
}
