@import 'config';
@import 'modals';

$user-font: "Lucida Console", "Courier New", monospace;
$input-focus-bg: rgba(255, 255, 255, 0.6);

body{
    background-color: lighten($primary-color, 35%); 
} 


/* BLURB PAGE */
#bookcover{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    width: 28vw;
    height: 60vh;
    object-fit: cover;
    margin-left: 34vw;
    margin-bottom: 1%;
}

#nobookcover {
    background-color: antiquewhite;
    width: 28vw;
    height: 60vh;
    margin-left: 34vw;
    margin-bottom: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* PLOT PAGE */
.plot-point{
    background-color: lighten($primary-color, 20%);
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
    color: black;
    text-align: center;
}

#plot-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    //background-color: $primary-color;
    color: white;
    text-align: center;

    #footer-row{
        display: flex;
        flex-direction: row;
        align-items: center;

        textarea{
            width: 90%;
            height: 10vh;
            resize: none;
            overflow: auto;
            border-radius: 4px;
            border: 3px solid $primary-color;
        }

        button{
            width: 10%;
            margin-left: 2px;
            height: 12vh;
            color: white;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            background-color: lighten($primary-color, 10%);

            &:hover{
                background-color: lighten($primary-color, 5%);
            }
        }
    }
}


/* CHARACTER PAGE */
#character-grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25ch 30ch 30ch 30ch;
    padding: 1%;

    div{
        padding: 5px;
    }

    #item1{
        background-color: lightpink;
        word-wrap: break-word;
    }

    #info{
        background-color: rgb(236, 96, 120); 
        grid-column: 2 / span 3;
    }
    
    #appearance1{
        background-color: lightgreen; 
        grid-column: 1 / span 2;
    }

    #appearance2{
        background-color: lightgreen; //rgb(58, 235, 58)
        grid-column: 3 / span 2;
    }
    #personality{
        background-color: lightblue;
        grid-column: 1 / span 4;
    }
    #backstory{
        background-color: rgb(228, 87, 228); 
    grid-column: 1 / span 4;
    }

}


/* WORLD PAGE */
#world-grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25ch 22ch 50ch;
    padding: 1%;

    div{
        padding: 5px;
    }

    #item1{
        background-color: lightpink;
        word-wrap: break-word;
        grid-column: 1 / span 2;
    }

    #info{
        background-color: rgb(236, 96, 120);
        grid-column: 3 / span 2;
    }
      
    #location{
        background-color: lightgreen;
        grid-column: 1 / span 4;
    }
    
    #other{
        background-color: lightblue;
        grid-column: 1 / span 4
    }
}




/* ALL PAGES */
textarea{
    font-family: $user-font;
}

.buttonrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h3input{
    border: none;
    padding: 1% 2%;
    width: 70%;
    font-size: 1.17em;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0);
}

.pinput{
    border: none;
    padding: 1% 2%;
    margin: none;
    width: 70%;
    font-size: 0.8em;
    font-family: $user-font;
    background-color: rgba(255, 255, 255, 0);

    &:focus{
        background-color: $input-focus-bg;
    }
}

.fwtextarea{
    border: none;
    width: 90%;
    margin-left: 5%;
    height: 30vh;
    overflow: auto;
    resize: none;
    background-color: rgba(255, 255, 255, 0);

    &:focus{
        background-color: $input-focus-bg;
    }
}

.ltextarea{
    border: none;
    width: 90%;
    margin-left: 5%;
    height: 88%;
    overflow: auto;
    resize: none;
    background-color: rgba(255, 255, 255, 0);

    &:focus{
        background-color: $input-focus-bg;
    }
}

.mtextarea{
    border: none;
    width: 99%;
    height: 40%;
    overflow: auto;
    resize: none;
    background-color: rgba(255, 255, 255, 0);

    &:focus{
        background-color: $input-focus-bg;
    }
}

.stextarea{
    border: none;
    width: 99%;
    height: 20%;
    overflow: auto;
    resize: none;
    background-color: rgba(255, 255, 255, 0);

    &:focus{
        background-color: $input-focus-bg;
    }
}

.label-input{
    white-space: nowrap;

    *{
        display: inline-block;
    }
}